/* =========== Google Search Page ======= */
.mainPage {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a {
    padding: 10px 10px;
    color: black;
}
img {
    text-align: center;
    left: 50%;
    top: 25%;
    position: absolute;
    width: 320px;
    height: 220px;
    transform: translateX(-50%) translateY(-50%);
    padding-bottom: 40px;
}
.mainform {
    text-align: center;
    left: 50%;
    padding-top: 600px;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}
.searchbar {
    border-radius: 25px;
    text-decoration: none;
    border: 1px solid lightgray;
    padding: 20px;
    width: 450px;
    height: 1px;
    margin-top: 40px;
}
.searchbar:hover {
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}
.searchbar:focus {outline:0;}
.button {
    background-image: -webkit-repeating-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-color: #f2f2f2;
    border: none;
    border-radius: 3px;
    color: #5F6368;
    font-family: arial, sans-serif;
    font-size: 14px;
    height: 36px;
    cursor: pointer;
    min-width: 54px;
    padding-top: 0 16px;
    margin: 20px 4px;
    user-select: none;
}
.button:hover {
    border: 1px rgba(0,0,0,0.2);
}
/* =========== Google Image Page ======= */
.googleImage {
    width: 272px;
    height: 92px;
    margin-top: 65px;
}
/* =========== Advanced Search Page ======= */
#advance {
    background-image: url(google.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 120px 75px;
    height: 50px;
    background-color: #f1f1f1;
}
.maintitle {
    color: #d93025;
    font-family: sans-serif;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    margin-left: 30px;
}
.col3 {
    vertical-align: middle;
    color: #777;
    font-size: 12px;
    padding-left: 5px;
}
.title{
    margin-bottom: 2px;
    color: #333;
    vertical-align: middle;
}
.TextArea{
    margin-left: 50px;
    width: 650px;
    height: 26px;
    vertical-align: middle;
    margin-bottom: 10px;
    color: #777;
}
.col1title{
    text-align: left;
    font-size: 20px;
    margin: 20px;
    font-family: sans-serif;
    font-weight: inherit;
    font-style: inherit;
    color: #333;
    padding-bottom: 20px;
}
.col2title{
    font-family: arial;
    font-size: 100%;
    color: #777;
    font-size: 15px;
    text-align: left;
    padding-bottom: 20px;
}
.aSearch{
    border-radius: 5px;
    border: 2px solid #4285F4;
    padding: 5px;
    background-color: #4285F4;
    color: white;
    size: 10px;
    margin-top: 10px;
    margin-left: 587px;
}


